body{
  background-image: url(../Images/placeHolder.jpg);
}
header{
  font-size: 60px;
  color: white;
  text-align: center;
}
h1 {
  text-align: left;
  font-size: 35px;
  font-weight: normal;
}

button, div, form, input {
  margin: 2px;
}

#btnView {
  height: fit-content; width: fit-content;
  border-radius: 15px;
}

aside {
  margin: 2px;
  float: right;
  color: aliceblue; font-size: large;
}

button {
  background-image: url(../Images/placeHolder.jpg);
  color: white; 
  border: solid;
  border-radius: 15px;
}

#submit{
  background-color: blue; border-radius: 15px;
  border-style: solid; border-color: blue;
  color: white;
}

#contentView{
  height: fit-content; width: fit-content;
  color: white;
  clear: both;
}