body{
  background-image: url(../Images/jungle.jpg)
}
header{
  font-size: xx-large;
  color: white;
}

button,
    div,
    form,
    input {
      margin: 10px;
    }

    #btnView{
      background-color: darkolivegreen;
      border: greenyellow; border-radius: 15px;
      border-style: dashed;
      height: fit-content; width: fit-content;
      
    }

aside{
  float: right;
  color: aliceblue; font-size: large;
  background-image: url(../Images/bark.jpg);
  border-style: groove; border-color: yellowgreen;
  border-radius: 10px;
}

button{
  color: azure; background-color: darkgreen;
  border: solid; border-color: yellowgreen; border-radius: 15px;
}

#submit{
  background-color: darkgreen; border-radius: 15px;
  border-style: solid; border-color: yellowgreen;
  color: white;
}

#contentView{
  height: fit-content; width: fit-content;
  border: greenyellow; border-radius: 15px;
  background-color: darkolivegreen; border-style: dotted;
  color: white;
}